body {
   font-family: "Montserrat", sans-serif;
}

.active {
    color: #1b75bc !important;
    font-weight: 600;
}

a:hover {
    color: #1b75bc !important;
}

h1 {
    font-size: 22px;
    color: #1b75bc;
}

.col-md-6 a {
    color: #fff;
    text-decoration: none;
}

.col-md-6 a:hover {
    text-decoration: underline;
    color: #fff !important;
}

.barra {
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    background-color: #1b75bc;
    color: #fff;
}

.usuario {
    margin-left: 12px;
}

.titulo {
    text-align: center;
    margin-top: 30px;
}

.footer {
    background-color: #1b75bc;
    text-align: center;
}